{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class = "container">
        <div class "form">
                <h2>Ajouter une catégorie</h2>
            <br>
            {{ form_start(categoryType) }}
                {{ form_widget(categoryType.name,{'attr':{'class':'form form control','placeholder':"catégorie"}}) }}
                <br>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(categoryType) }}
        </div>
    </div>
{% endblock %}