{% extends 'base.html.twig' %}

{% block title %}Modification des Produits{% endblock %}

{% block body %}
    <div class = "container">
        <h1>Modifier Product</h1>

        {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}
        <br>
        <a class="btn btn-dark" href="{{ path('app_product_index') }}">retour</a>
        <br>
        {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
